@mixin button {
    background-color: $button-color;
    color: $button-color-text;
    border: 1px solid $button-color;
    border-radius: 20px;
    padding: 0 19px;
    &:hover {
        background-color: #3c98db;
        border-color: #3c98db;
    }
    &:active {
        background-color: #274864;
        border-color: #274864;
    }
}

@mixin shadow($var) {
    -webkit-box-shadow: 0px $var 8px 0px $shadow;
    -moz-box-shadow: 0px $var 8px 0px $shadow;
    box-shadow: 0px $var 8px 0px $shadow;
}

@mixin jsButton($name) {
    margin-top: 100px;
    margin-bottom: 29px;
    display: flex;
    justify-content: center;
    .back-button-#{$name} {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin: 0 7px;
        cursor: pointer;
    }
}