$main-menu-color: #f7f7f7;
$background-color-1: #f7f7f7;
$background-color-2: #fff;
$background-color-3: #3c98db;
$text-color-for-background-color-2: #000;
$text-color-for-background-color-3: #fff;
$button-color: #337ab7;
$button-color-text: #fff;
$burger-button: #337ab7;
$shadow: rgba(101, 101, 101, 0.3);
$text-color: #b4b4b4;

//Курс "Розробка сайтів"

$develop-boreder-color: #3498db;
$develop-description-color: #adadad;